<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net452" />
  <package id="Bogus" version="22.3.2" targetFramework="net452" />
  <package id="Cfg-NET" version="0.10.2" targetFramework="net452" />
  <package id="Cfg-NET.Environment" version="0.3.2" targetFramework="net452" />
  <package id="Cfg-NET.Reader" version="0.3.3" targetFramework="net452" />
  <package id="Cfg-NET.Shorthand" version="0.2.11" targetFramework="net452" />
  <package id="Dapper" version="1.50.4" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net452" />
  <package id="Transformalize" version="0.3.5-beta" targetFramework="net452" />
  <package id="Transformalize.Container.Autofac" version="0.3.7-beta" targetFramework="net452" />
  <package id="Transformalize.Provider.Ado" version="0.3.8-beta" targetFramework="net452" />
  <package id="Transformalize.Provider.Bogus" version="0.3.5-beta" targetFramework="net452" />
  <package id="Transformalize.Provider.Bogus.Autofac" version="0.3.5-beta" targetFramework="net452" />
  <package id="Transformalize.Provider.Console" version="0.3.1-beta" targetFramework="net452" />
</packages>